@font-face {
    font-family: space-font;
    src: url(../fonts/Agelast-mLlAm.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
.main-container {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.start {
    width: 100%;
    height: 100%;
    background: linear-gradient(206deg, #00103a 55%, #334e62 100%);
}

.title-text {
    font-family: space-font;
    z-index: 2;
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 2rem;
    backdrop-filter: blur(10px) contrast(100%);
    -webkit-backdrop-filter: blur(10px) contrast(100%);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.launch-button {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 60px;
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: rgb(25, 118, 181);
    background: #ffffff;
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.launch-button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.launch-button:hover,
.launch-button:focus {
    color: #313133;
}

.launch-button:hover::before,
.launch-button:focus::before {
    opacity: 1;
}

.launch-button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(33, 143, 216, .6);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
}

.launch-button:hover::after,
.launch-button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.earth-canvas {
    margin-top: 5rem;
    transform: scale(.9);
}
